* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  display: flex;
  background-color: rgb(28, 28, 28);
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.title {
  font-size: 30px;
  margin: 10%;
  color: #ffffff;
}
.center {
  text-align: center;
}
button {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  /* border: none; */
  /* border-bottom: ; */
  width: 400px;
  padding: 10px;
  border-color: rgb(255, 255, 255);
  /* border: solid 1px red; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 2%;
}
.item {
  padding: 8px;
}
.accordion {
  background-color: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  width: 400px;

  box-shadow: 0 4px 8px rgb(43, 42, 42);
}
.answer {
  display: none;
}
.active,
.faqbtn:hover {
  background-color: #ffffff;
  color: #000;
}
